<form id="new-spot">
  <input type="text" name="title" value="Hallo Welt" />
  <input type="text" name="text" value="Lorem ipsum dolor sit amet" />
  <input type="text" name="street" value="Alt-Stralau" />
  <input type="text" name="zip" value="12345" />
  <input type="text" name="city" value="Berlin" />
  <input type="text" name="user_id" value="2" />
  <input type="submit" value="absenden" />
</form>