<form id="new-comment">
  <input type="text" name="text" value="Hallo Welt" />
  <input type="text" name="spot_id" value="{{spot_id}}" />
  <input type="text" name="user_id" value="2" />
  <input type="submit" value="absenden" />
</form>